.DS_Store
*.log
.env
.env.local
/node_modules
/npm-debug.log
frontend/node_modules/
frontend/.next/
frontend/out/
frontend/build/
frontend/.env.local
frontend/.env
frontend/.vercel
backend/.env
backend/venv/.env
__pycache__/
*.pyc
backend/venv/Lib/
backend/venv/Scripts/
backend/venv/Include/
backend/venv/pyvenv.cfg
backend/venv/share/
backend/venv/etc/
backend/static/images/*
backend/static/originals/*